---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?api_key=DEMO_KEY&sol=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67d93d1fa4978e761cec9df4c484623b"
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"photos":[{"id":103389,"sol":1000,"camera":{"id":16,"name":"NAVCAM","rover_id":6,"full_name":"Navigation
        Camera"},"img_src":"http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/ncam/NLB_486264973EDR_S0481570NCAM00546M_.JPG","earth_date":"2015-05-30","rover":{"id":5,"name":"Curiosity","landing_date":"2012-08-06","max_sol":1318,"max_date":"2016-04-21","total_photos":250748,"cameras":[{"name":"FHAZ","full_name":"Front
        Hazard Avoidance Camera"},{"name":"NAVCAM","full_name":"Navigation Camera"},{"name":"MAST","full_name":"Mast
        Camera"},{"name":"CHEMCAM","full_name":"Chemistry and Camera Complex"},{"name":"MAHLI","full_name":"Mars
        Hand Lens Imager"},{"name":"MARDI","full_name":"Mars Descent Imager"},{"name":"RHAZ","full_name":"Rear
        Hazard Avoidance Camera"}]}},{"id":103388,"sol":1000,"camera":{"id":16,"name":"NAVCAM","rover_id":6,"full_name":"Nav[...]
