---
http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?api_key=DEMO_KEY&earth_date=2014-6-3&page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dcae6377bca05df1e5413fb69a29d3f2"
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"photos":[{"id":37941,"sol":649,"camera":{"id":16,"name":"NAVCAM","rover_id":6,"full_name":"Navigation
        Camera"},"img_src":"http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/00649/opgs/edr/ncam/NRB_455113198EDR_D0340144TRAV00227M_.JPG","earth_date":"2014-06-03","rover":{"id":5,"name":"Curiosity","landing_date":"2012-08-06","max_sol":1318,"max_date":"2016-04-21","total_photos":250748,"cameras":[{"name":"FHAZ","full_name":"Front
        Hazard Avoidance Camera"},{"name":"NAVCAM","full_name":"Navigation Camera"},{"name":"MAST","full_name":"Mast
        Camera"},{"name":"CHEMCAM","full_name":"Chemistry and Camera Complex"},{"name":"MAHLI","full_name":"Mars
        Hand Lens Imager"},{"name":"MARDI","full_name":"Mars Descent Imager"},{"name":"RHAZ","full_name":"Rear
        Hazard Avoidance Camera"}]}},{"id":37942,"sol":649,"camera":{"id":16,"name":"NAVCAM","rover_id":6,"full_name":"Navig[...]
